@use 'nav-shared' as nav;

footer {
	padding: 20px 0;
}
.footer {
	@include nav.nav-list-base;
	justify-content: center;
	row-gap: 6px;
	&__item {
		@include nav.nav-item-base(#000);
	}
}

@media (max-width: 1199.98px) {
	.footer {
		&__item {
			padding: 10px 12px;
		}
	}
}

@media (max-width: 991.98px) {
	.footer {
		flex-wrap: wrap;
		&__item:first-child {
			flex-basis: 100%;
			text-align: center;
		}
	}
}

@media (max-width: 575.98px) {
	.footer {
		&__item {
			font-size: 11px;
			padding: 8px 10px;
		}
	}
}
