.header {
	display: flex;
	align-items: flex-end;
	margin-top: 30px;
	list-style-type: none;
	&__item {
		font-size: 12px;
		padding: 10px 20px;
		font-weight: normal;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		&:first-child {
			transform: translateY(3px);
		}
		a {
			color: #fff;

			&:visited {
				text-decoration: none;
				color: #fff;
			}
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}

		&:not(:first-child) a {
			position: relative;
			display: inline-block;
		}

		&:not(:first-child) a::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 1px;
			background-color: currentColor;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 0.25s ease;
		}

		&:not(:first-child) a:hover::after {
			transform: scaleX(1);
		}
	}
}
