@use 'nav-shared' as nav;

.header {
	@include nav.nav-list-base;
	&__item {
		@include nav.nav-item-base(#fff);
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		&:first-child {
			transform: translateY(3px);
		}
	}
}

@media (max-width: 1199.98px) {
	.header {
		&__item {
			padding: 10px 12px;
		}
	}
}

@media (max-width: 991.98px) {
	.header {
		flex-wrap: wrap;
		row-gap: 6px;
	}
}

@media (max-width: 575.98px) {
	.header {
		&__item {
			font-size: 11px;
			padding: 8px 10px;
		}
	}
}
