@mixin nav-list-base {
	display: flex;
	align-items: flex-end;
	flex-wrap: nowrap;
	margin: 30px 0 0;
	padding: 0;
	list-style-type: none;
}

@mixin nav-item-base($link-color) {
	font-size: 12px;
	padding: 10px 16px;
	font-weight: normal;
	white-space: nowrap;

	a {
		color: $link-color;

		&:visited {
			text-decoration: none;
			color: $link-color;
		}

		&:hover {
			text-decoration: none;
			color: $link-color;
		}
	}

	&:not(:first-child) a {
		position: relative;
		display: inline-block;
	}

	&:not(:first-child) a::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 1px;
		background-color: currentColor;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.25s ease;
	}

	&:not(:first-child) a:hover::after {
		transform: scaleX(1);
	}
}
