@use 'header';
@use 'mainpage';
@use 'pages';
@use 'footer';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Merienda';
	outline: none;
}

body {
	overflow-x: hidden;
}

.title {
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
	&-big {
		color: #ffffff;
		font-weight: bold;
		font-size: 40px;
		line-height: 1.25;
		padding: 0 12px;
		margin-bottom: 0;
		text-align: center;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

.line {
	width: 240px;
	height: 1px;
	background-color: #000000;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

@media (max-width: 991.98px) {
	.title {
		font-size: 21px;
		&-big {
			font-size: 32px;
		}
	}

	.line {
		width: 200px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

@media (max-width: 575.98px) {
	.title {
		font-size: 19px;
		&-big {
			font-size: 26px;
		}
	}

	.line {
		width: 160px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
